<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Creator</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- disable favicon -->
</head>

<body onload="onload('<%= creatorName %>')">
    <h1>Survey Creator</h1>
    <h2>Hello <%= creatorName %>!</h2>
    <!-- <button onclick="createSurvey()">Create New Survey</button> -->
    <form action="survey-creator.html">
        <input type="submit" name="username" value="Create New Survey" onclick="createSurvey('<%= creatorName %>')" />
    </form>


    <h2>Created Surveys</h2>
    <ul>
        <% createdSurveys.forEach((survey)=> { %>
            <li>
                <a href=<%='/survey' + '?' + 'isCreator=true' + '&creatorName=' + creatorName + '&surveyid=' + survey.id %>>
                    <%= survey.name %>
                </a>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                <button onclick="deleteSurvey(' <%=survey.id %>')">Delete</button><br><br>
            </li>
            <% }); %>
    </ul>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="index.js" charset="UTF-8"></script>
</body>

</html>